.forms {
    display:flex;
    flex-direction: column;
    width: 50dvw;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    width: 70%;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 24px;
}

.header span {
    font-weight: 400;
    font-size: 16px;
    color: #57534E
}

.main {
    width: 70%;
    justify-content: center;
    align-items: center;
    
}

.headline {
    padding-bottom: 32px;
}

.headline h1 {
    font: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #292524;
}

.headline p {
    font: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #57534E;
    line-height: 150%;
}

.info form {
    display: flex;
    flex-direction: column;
}

.info h1 {
    font: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #292524;
    padding-bottom: 16px;
}

.info input {
    border-radius: 8px;
    border: solid;
    border-color: #D6D3D1;
    border-width: 1px;
    height: 48px;
    padding-left: 16px;
    margin-bottom: 16px;
}

.info input:focus {
    outline: none;
    border-color: #F3541C;
}

.info label {
    font: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #57534E;
}